.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 120px;
  background-color: var(--badges);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  list-style-type: none;
}

.navItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
