.filtersContainer {
  max-width: 924px;
  padding: 0;
  margin: 84px auto 56px;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}

.dropdown {
  position: relative;
  min-width: 204px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dropdownText {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}
.dropdownToggle {
  background-color: var(--inputs);
  width: 204px;
  border: none;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
}

.dropdownMenu {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--inputs);
  border-radius: 12px;
  background-color: var(--white);
  width: 204px;
  max-height: 272px;
  overflow-y: auto;
  padding: 14px 18px;
  margin-top: 4px;
}
.dropdownItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  cursor: pointer;
}

.dropdownItem:hover {
  color: var(--main);
}

.mileage {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.mileageText {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.mileageContainer {
  display: flex;
  width: 320px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--inputs);
}

.mileage:first-child {
  border-right: 1px solid var(--gray);
}
.mileageInputs {
  flex: 1;
  border: none;
  font-size: 16px;
  color: var(--main);
  outline: none;
  padding: 0;
  min-width: 0;
  background: transparent;
}

.searchBtn {
  padding: 12px 0;
  background-color: var(--button);
  width: 100%;
  max-width: 156px;
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  transition: background-color 0.2s;
  align-self: flex-end;
}

.searchBtn:hover {
  border-color: var(--button-hover);
  transition: background-color 0.3s ease-in-out;
}
