.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 84px auto;
  display: flex;
  gap: 72px;
}

.carImg {
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 40px;
}

.carInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}
.carId {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.carLocation {
  font-size: 16px;
  font-weight: 500;
}

.carMileage {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
}
.carPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 32px;
}
.carDescription {
  margin-bottom: 68px;
}

.condition {
  margin-bottom: 110px;
}
.conditionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.conditionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.conditionItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
